<form class="layui-form layui-form-pane form-search" action="{:sysuri()}" onsubmit="return false" method="get" autocomplete="off">
    <fieldset>
        <legend>{:lang('条件搜索')}</legend>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('关键词')}</label>
            <div class="layui-input-inline">
                <input name="param" value="{$get.param|default=''}" placeholder="{:lang('参数/IP')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('结果')}</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="result_code" lay-append-to>
                    <option value="">-- {:lang('全部')} --</option>
                    <option value="1" {if isset($get.result_code) && $get.result_code == '1'}selected{/if}>{:lang('成功')}</option>
                    <option value="0" {if isset($get.result_code) && $get.result_code == '0'}selected{/if}>{:lang('失败')}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('时间范围')}</label>
            <div class="layui-input-inline">
                <input data-date-range name="create_at" value="{$get.create_at|default=''}" placeholder="{:lang('请选择时间范围')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-search"></i> {:lang('搜 索')}</button>
        </div>

    </fieldset>
</form>
